@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define theme colors and border radius for light mode */
@layer base {
  :root[class~="light"] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem; /* Border radius for light mode */
  }

  /* Apply light mode colors and border radius by default */
  * {
    @apply bg-background text-foreground border-border;
    border-radius: var(--radius);
  }

  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  p{
    @apply leading-7 [&:not(:first-child)]:mt-6
  }

  a {
    @apply text-primary
  }



}

/* Define theme colors and border radius for dark mode */
@layer base {
  :root[class~="dark"] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem; /* Border radius for dark mode */
  }

  /* Apply dark mode colors and border radius when the 'dark' class is present */
  .dark {
    * {
      @apply bg-background text-foreground border-border;
      border-radius: var(--radius);
    }

   
  }
}

.lucide{
  color : var(--foreground);
}

body {
  @apply dark;
}


/* Override styles for specific Markdown elements */
.markdown h1 {
  @apply text-3xl font-bold;
}

.markdown h2 {
  @apply text-2xl font-bold mt-3 mb-1;
}

.markdown h3 {
  @apply text-lg font-bold;
}

.markdown p {
  @apply leading-7 mb-4;
}

.markdown a {
  @apply text-primary;
}



.markdown ul {
  @apply list-decimal list-outside
}

.markdown li {
  @apply pl-4;
}